.container {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.skillList {
  display: flex;
  justify-content:center;
  flex-wrap: wrap;
  gap: 10px;
  max-width: 250px;
  margin: 0 auto;
}

.skillList span {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px; 
  text-align: center;
}

.skillList img {
  width: 60px;
  height: 60px;
  object-fit: cover;
}

.slick-slider {
  width: 100%; 
  max-width: 1400px
}

.skillList p {
  font-size: 15px;
  text-align: center;
}


@media (min-width: 800px) {
  .skillList {
    max-width: 600px;
  }
  .skillList img {
    width: 80px;
    height: 80px;
  }
  .skillList p {
    font-size: 20px;
    text-align: center;
  }
}

@media (min-width: 1400px) {
  .skillList {
    max-width: 800px;
  }
  .skillList img {
    width: 100px;
    height: 100px;
  }
  .skillList p {
    font-size: 20px;
  }
} 
