.container {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.skillList {
  display: flex;
  justify-content: space-evenly;
  align-self: center;
  flex-wrap: wrap;
  row-gap: 40px;
  max-width: 26ch;
}

/* Estilos adicionales para el carrusel */
.slick-slider {
  width: 100%;
  margin: 0 auto;
}

.slick-slide {
  padding: 0 10px;
}


